<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About Page</title>
</head>
<body>

    <div>
        <h1>Everything about us</h1>
    </div>

    <div>
        <ul>
            <li>
                <a href="/home">Back to homepage</a>
            </li>
            <li>
                <a href="/works">Our work</a>
            </li>
            <li>
                <a href="/photogallery">Our Photo Gallery</a>
            </li>
        </ul>
    </div>

    <div>
        <div>
            <article>
                <p>Kendrick Lamar Duckworth (born June 17, 1987) is an American rapper and songwriter. His versatile cadence,
                 internal rhyme schemes, and introspective songwriting have regarded him as one of the most influential hip hop
                  artists of his generation.[1][2] Lamar's discography explores styles that are unconventional to modern hip hop
                   music such as jazz, funk, soul, and spoken word. His lyricism is inspired by his personal life and often contain
                    political and social commentary centered around African American life and culture.
                </p>
            </article>
        </div>
        <div>
            <img src="/images/home1.webp" alt="cover-image">
        </div>

        <div>
            <img src="/images/home2.webp" alt="cover-image">
        </div>
        <div>
            <article>
                <p>Born and raised in Compton, California, Lamar began his career as a teenager under the stage name K.Dot. His debut mixtape,
                 Y.H.N.I.C. (Hub City Threat Minor of the Year) (2004), garnered local attention and led to him signing with independent
                  record label Top Dawg Entertainment (TDE) the following year.[5] In 2009, Lamar became a founding member of the hip hop
                   supergroup Black Hippy alongside Ab-Soul, Jay Rock, and Schoolboy Q. He began to use his first and middle names professionally
                    later that year, following the release of his eponymous debut extended play. He continued to gain recognition after his
                     first retail release, Overly Dedicated, and his debut studio album, Section.80, which included his debut single "HiiiPoWeR".
                    </p>
            </article>
        </div>
        <div>
            <article>
                <p>In 2012, Lamar secured a record deal with Dr. Dre's Aftermath Entertainment, under the aegis of Interscope Records, and released
                 his major-label debut album, Good Kid, M.A.A.D City, earning him widespread critical recognition and mainstream success.
                 [6] His third studio album, To Pimp a Butterfly (2015), became his first number-one album on the US Billboard 200 and was
                  an enormous critical success.[7] The same year, he yielded his first number-one single on the US Billboard Hot 100 with
                   the remix of "Bad Blood" by Taylor Swift.[8] His fourth studio album, Damn (2017), saw continued critical acclaim and
                    mainstream success. The album included his second chart-topping single "Humble", his first as a lead artist, and became
                     the first non-classical and non-jazz work to be awarded the Pulitzer Prize for Music.[9] Lamar curated and executive
                      produced the soundtrack album to the superhero film Black Panther (2018). In 2022, following a four-year hiatus, he
                       released his fifth studio album Mr. Morale & the Big Steppers, his final project with TDE, which was met with critical
                        acclaim and commercial success.
                    </p>
            </article>
        </div>
        <div>
            <img src="/images/home3.jpg" alt="cover-image">
        </div>

        <div>
            <img src="/images/home4.webp" alt="cover-image">
        </div>
        <div>
            <article>
                <p>Lamar has sold over 70 million records in the United States alone, and all of his studio albums have been certified platinum
                 or higher by the Recording Industry Association of America (RIAA).[12] He has received numerous accolades throughout his career,
                  including 14 Grammy Awards, a Primetime Emmy Award, two American Music Awards, six Billboard Music Awards, 11 MTV Video Music
                   Awards, a Pulitzer Prize, a Brit Award, and an Academy Award nomination. In 2012, MTV named him the Hottest MC in the Game
                    on their annual list.[13] In 2015, he received the California State Senate's Generational Icon Award. Time named him one
                     of the 100 most influential people in the world in 2016.[14] He was listed in Forbes 30 Under 30 list in 2017.[15] Three
                      of his studio albums were included on Rolling Stone's 2020 ranking of the 500 Greatest Albums of All Time.
                    </p>
            </article>
        </div>
        <div>
            <article>
                <p>Kendrick Lamar Duckworth was born in Compton, California on June 17, 1987,[16][17] the son of a couple from Chicago.
                [18] Although not in a gang himself, he grew up around gang members; with his closest friends being Westside Piru Bloods
                 and his father, Kenny Duckworth, being a Gangster Disciple.[19][20] His first name was given to him by his mother, Paula Oliver,
                  in honor of singer-songwriter Eddie Kendricks of The Temptations.[21] He grew up on welfare and in Section 8 housing.
                
            </article>
        </div>
        <div>
            <img src="/images/home5.jpg" alt="cover-image">
        </div>

        <div>
            <img src="/images/home6.webp" alt="cover-image">
        </div>
        <div>
            <article>
                <p>In 1995, at the age of eight, Lamar witnessed Tupac Shakur and Dr. Dre film the music video for their single "California Love",
                 which proved to be a significant moment in his life.[23] As a child, he attended McNair Elementary and Vanguard Learning Center
                  in the Compton Unified School District. He has admitted to being quiet and shy in school, his mother confirming he was a "loner"
                   until the age of seven.[24][19] Lamar was further educated at Centennial High School, where he graduated from in 2005 as a
                    straight A student.
                </p>
            </article>
        </div>

    </div>
    
    
</body>
</html>