<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home Page</title>
</head>
<body>

    <div>
        <h1>Welcome to Kendrick Lamar's Page!!!</h1>
    </div>

    <div>
        <ul>
            <li>
                <a href="/about">About us</a>
            </li>
            <li>
                <a href="/works">Our work</a>
            </li>
            <li>
                <a href="/photogallery">Our Photo Gallery</a>
            </li>
        </ul>
    </div>

    <div>
        <article>
            <h3>Everything there is to know about our favorite artist!</h3>
        </article>
    </div>

</body>
</html>