<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Photo Gallery Page</title>
</head>
<body>
    
    <div>
        <h1>Our Photo Gallery</h1>
    </div>

    <div>
        <ul>
            <li>
                <a href="/home">Back to homepage</a>
            </li>
            <li>
                <a href="/works">Our work</a>
            </li>
            <li>
                <a href="/about">About us</a>
            </li>
        </ul>
    </div>

    <div>
        <article>
            <h3>Pictures</h3>
            <div>
                <div>
                    <img src="/images/damn.jpeg" alt="cover-image">
                </div>
                <div>
                    <img src="/images/good-kid.jpg" alt="cover-image">
                </div>
                <div>
                    <img src="/images/home1.webp" alt="cover-image">
                </div>
                <div>
                    <img src="/images/home2.webp" alt="cover-image">
                </div>
                <div>
                    <img src="/images/home3.jpg" alt="cover-image">
                </div>
                <div>
                    <img src="/images/home4.webp" alt="cover-image">
                </div>
                <div>
                    <img src="/images/home5.jpg" alt="cover-image">
                </div>
                <div>
                    <img src="/images/home6.webp" alt="cover-image">
                </div>
                <div>
                    <img src="/images/Mr-Morale.webp" alt="cover-image">
                </div>
                <div>
                    <img src="/images/Section-80.jpg" alt="cover-image">
                </div>
                <div>
                    <img src="/images/to-pimp.webp" alt="cover-image">
                </div>
                <div>
                    <img src="/images/untitled.jfif" alt="cover-image">
                </div>
            </div>

        </article>
    </div>

</body>
</html>