<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Works Page</title>
</head>
<body>

    <div>
        <h1>Everythin about our Work</h1>
    </div>

    <div>
        <ul>
            <li>
                <a href="/home">Back to homepage</a>
            </li>
            <li>
                <a href="/about">About us</a>
            </li>
            <li>
                <a href="/photogallery">Our Photo Gallery</a>
            </li>
        </ul>
    </div>

    <div>
        <article>
            <h2>Some of the best work of Kendrick includes</h2>

            <div>
                <h3>Section.80</h3>
                <img src="/images/Section-80.jpg" alt="album-cover">
            </div>

            <div>
                <h3>Good Kid, M.A.A.D City</h3>
                <img src="/images/good-kid.jpg" alt="album-cover">
            </div>

            <div>
                <h3>To Pimp a Butterfly</h3>
                <img src="/images/to-pimp.webp" alt="album-cover">
            </div>

            <div>
                <h3>Untitled Unmastered</h3>
                <img src="/images/untitled.jfif" alt="album-cover">
            </div>

            <div>
                <h3>Damn</h3>
                <img src="/images/damn.jpeg" alt="album-cover">
            </div>

            <div>
                <h3>Mr. Morale & the Big Steppers</h3>
                <img src="/images/Mr-Morale.webp" alt="album-cover">
            </div>
        </article>
    </div>

</body>
</html>