body {
    padding: 0;
    margin: 0;
    font-family: Monaco, monospace;
    background-color: rgb(230, 230, 230);
}

img {
    width: 100vw;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
}

.img-aboutus {
    width: 30vw;
    height: 30vh;
    padding: 20px 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1,h2,h3 {
    text-align: center;
    padding: 20px;
}

article {
    padding: 20px 40px;
}

.about-order {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* text-align: center; */
